# Pastas padrões do VSCode
.vscode
.vscode/*

# Pastas de saída da extensão compile run do VSCode
output/*
output/

# Arquivo executável do banco após compilação
banco.exe 

# Arquivo contendo o código da versão anterior do Banco Malvader
oldBank.c

# Arquivo temporário do Excel
~$extrato.xlsx

# Arquivos de saída
clientes.txt
extrato.txt
movimentos/*
funcionarios.txt